#flashcard {
    -fx-border-color: darkgray;
    -fx-border-radius: 5;
}

#leftBtn {
    -fx-background-image: url('../images/left.png');
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#rightBtn {
    -fx-background-image: url('../images/right.png');
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#modifyBtn {
    -fx-background-image: url('../images/modify.png');
    -fx-background-radius: 50;
    -fx-border-radius: 20;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}